<h1>Menu</h1>

<ul>
    <li><%= link_to "Librarians", librarians_path %></li>
    
    <li><%= link_to "Clients", clients_path %></li>
    
    <li><%= link_to "Books", books_path %></li>
    
    <li><%= link_to "Authors", authors_path %></li>
    
    <li><%= link_to "Reservations", reservations_path %></li>
    
    <!--
    <li><a href="http://localhost:3000/librarians"> Librarians </a></li>
    <li><a href="http://localhost:3000/books"> Books </a></li>
    <li><a href="http://localhost:3000/clients"> Clients </a></li>
    <li><a href="http://localhost:3000/authors"> Authors </a></li>
    <li><a href="http://localhost:3000/reservations"> Reservations </a></li>
    -->
    
</ul>

<p></p>


